html,body,input,button,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a img {border:none;text-decoration: none;}.clear:after{content: "";display: block;height: 0;visibility: hidden;clear: both;}button{cursor: pointer;}img{display: block;}.borderNo{border:none!important;}.margin0{margin: 0 !important;}.left{float: left!important;}.right{float:right!important;}.text-right{text-align: right;}.text-center{text-align: center;}.marBtw{position: absolute;top:0;left:0;right:0;bottom:0;margin:auto;}*{box-sizing: border-box;}
body{
	font: .16rem/1.5 "microsoft yahei";
	color: #000;
}
*[class|="col"]{
	padding:0;
}
div[class|="row"]{
	margin:0;
}
.container{
	padding:0;
}
a{
	text-decoration: none!important;
}
a:hover,a.active{
	color: #369;
}
#ctx{
	position: absolute;
	top:0;
	z-index:0;
}
#main{
	height: 100vh;
	background: #F2F1F1;
	overflow: hidden;
}
.section-slide{
	overflow: hidden;
}
/* header */
@-webkit-keyframes header{
	from{
		-webkit-transform:translateY(-1rem);
		transform:translateY(-1rem);
		opacity: 0;
	}to{
		 opacity: 1;
		 -webkit-transform:translateY(0);
		 transform:translateY(0);
	 }
}
@keyframes header{
	from{
		-webkit-transform:translateY(-1rem);
		transform:translateY(-1rem);
		opacity: 0;
	}to{
		 opacity: 1;
		 -webkit-transform:translateY(0);
		 transform:translateY(0);
	 }
}
header{
	height: .8rem;
	line-height: .8rem;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 10px #000;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
header h1 span{
	line-height: .8rem;
	display: block;
}
.header-active{
	-webkit-animation:header 1s forwards;
	animation:header 1s forwards;
}
header h1 img{
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	margin: 0 .5rem 0 .5rem;
}
header ul{
	height:.8rem;
}
header li{
	text-align: center;
}
header li a i{
	display: block;
	width: 60%;
	height: .02rem;
	background: #369;
	bottom: 1px;
	left:0;
	right:0;
	position: absolute;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transition:.5s;
	transition: .5s;
	margin:0 auto;
}
header li:hover a i,header li a i.active{
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
header li a{
	color: #535353;
	font-size: .16rem;
	display: block;
	position: relative;
	text-align: center;
}
/* header end */
/* home */
@-webkit-keyframes homephoto {
	0%{
		-webkit-transform:translateX(-60vw);
		transform:translateX(-60vw);
	}
	50%{
		-webkit-transform:translateX(15vw);
		transform:translateX(15vw);
	}
	100%{
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
}
@keyframes homephoto {
	0%{
		-webkit-transform:translateX(-60vw);
		transform:translateX(-60vw);
	}
	50%{
		-webkit-transform:translateX(15vw);
		transform:translateX(15vw);
	}
	100%{
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
}
@-webkit-keyframes motto {
	from{
		-webkit-transform:translateX(60vw) rotate(0deg);
		transform:translateX(60vw) rotate(0deg);
	}
	to{
		-webkit-transform:translateX(0) rotate(360deg);
		transform:translateX(0) rotate(360deg);
	}
}
@keyframes motto {
	from{
		-webkit-transform:translateX(60vw) rotate(0deg);
		transform:translateX(60vw) rotate(0deg);
	}
	to{
		-webkit-transform:translateX(0) rotate(360deg);
		transform:translateX(0) rotate(360deg);
	}
}
@-webkit-keyframes motto-div{
	from{
		-webkit-transform:rotateY(90deg);
		transform:rotateY(90deg);
	}
	to{
		-webkit-transform:rotateY(0deg);
		transform:rotateY(0deg);
	}
}
@keyframes motto-div{
	from{
		-webkit-transform:rotateY(90deg);
		transform:rotateY(90deg);
	}
	to{
		-webkit-transform:rotateY(0deg);
		transform:rotateY(0deg);
	}
}
.home-main{
	margin-top:1.8rem;
}
.home-main .photo{
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid #369;
	border-radius: 50%;
	background: url(../images/photo.jpg);
	background-size: 100% 100%;
	margin: 0 auto;
	-webkit-transform:translateX(100vw) rotate(0deg);
	transform:translateX(100vw) rotate(0deg);
	-webkit-animation:homephoto 1s ease-in 1s forwards;
	animation:homephoto 1s ease-in 1s forwards;
	transition:.3s;
	-webkit-transition:.3s;
}
.home-main .photo:hover{
	-webkit-box-shadow: 0 0 50px rgba(51,102,153,.4);
	box-shadow: 0 0 50px rgba(51,102,153,.4);
}
.home-main div:nth-of-type(2){
	font-size:16px;
	font-weight:bold;
	color: #333;
	margin:.3rem 0 0 0;
	-webkit-transform:translateX(100vw) rotate(0deg);
	transform:translateX(100vw) rotate(0deg);
	-webkit-animation:motto .5s ease-in 2s forwards;
	animation:motto .5s ease-in 2s forwards;
}
.home-main div:nth-of-type(2) div{
	height:2px;
	background: #aaa;
	margin:.3rem;
	-webkit-transform:rotateY(90deg);
	transform:rotateY(90deg);
	-webkit-animation:motto-div .5s 2.5s forwards;
	animation:motto-div .5s 2.5s forwards;
}
.home-main p{
	line-height:30px;
	display: none;
}
/* home end */
/* skill */
.skill-main,.demo-main,.contact-main{
	margin-top:1.5rem;
}
.title h3{
	font-size:.22rem;
	font-weight:bold;
}
.border{
	width:120px;
	background: #ff3528;
	height:2px;
	margin:10px auto;
	-webkit-transition:.5s;
	transition: .5s;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
}
.title h4{
	color: #ff3528;
	width:125px;
	margin:0 auto;
	display: none;
}
#skill{
	padding:.1rem 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition:.5s;
	transition: .5s;
}
.skill-main > p{
	margin:.5rem 0;
	-webkit-transform:translateX(100vw) rotate(0deg);
	transform:translateX(100vw) rotate(0deg);
}
.skill-main > .active{
	-webkit-animation:motto .5s ease-in .8s forwards;
	animation:motto .5s ease-in .8s forwards;
}
.skill-slide{
	padding:.1rem;
	border-radius: .2rem;
	box-shadow: 0 0 10px #000;
}
.skill-slide dt{
	font-size:.24rem;
	line-height:.5rem;
}
.skill-slide p{
	margin-bottom:.15rem;
}
.skill-slide{
	background: rgba(221,221,221,.6);
	line-height:.3rem;
	color: #535353;
}
/* demo */
#demo{
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition:.3s;
	transition: .3s;
}
.demo-wrapper{
	padding:.1rem .3rem .3rem;
}
.demo-slide{
	height:2.2rem;
	background: #eee;
	margin-top:.7rem;
	box-shadow:0 .1rem .1rem #222;
	position: relative;
}
.demo-slide a{
	width:50%;
	display: block;
	position: absolute;
	left:25%;
	top:.85rem;
	line-height:.5rem;
	text-align: center;
	color: #fff;
}
.demo-slide img{width:2rem!important;}
.demo-slide a div{
	position: absolute;
	background: #399;
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.demo-slide:hover a div{
	-webkit-transform: scale(1);
	transform: scale(1);
}
.demo-slide a div:nth-of-type(1),.demo-slide a div:nth-of-type(3){
	width:120%;
	height:.02rem;
}
.demo-slide a div:nth-of-type(2),.demo-slide a div:nth-of-type(4){
	width:.02rem;
	height:140%;
}
.demo-slide a div:nth-of-type(1){
	top:0;
	left: -10%;
}
.demo-slide a div:nth-of-type(2){
	right:0;
	top:-20%;
}
.demo-slide a div:nth-of-type(3){
	bottom:0;
	left:-10%;
}
.demo-slide a div:nth-of-type(4){
	left:0;
	top:-20%;
}
.demo-slide img{
	width:80%;
	height:80%;
	box-shadow:.1rem 0 .1rem #333;
	border:5px solid #ccc;
}
.swiper-button-prev{
	bottom:0;
	left:0;
}
/* contact */
.contact-main > h3{
	font-size:.3rem;
	line-height:.5rem;
	font-weight:normal;
	margin-top:.3rem;
	-webkit-transform:translateX(100vw) rotate(0deg);
	transform:translateX(100vw) rotate(0deg);
}
.contact-main > h3[class~='active']{
	-webkit-animation:motto .5s ease-in .8s forwards;
	animation:motto .5s ease-in .8s forwards;
}
.contact-main > h4[class~='active']{
	-webkit-animation:contact-h4 .5s ease-in .8s forwards;
	animation:contact-h4 .5s ease-in .8s forwards;
}
.contact-main > h4{
	font-size:.28rem;
	line-height:.5rem;
	-webkit-transform:translateX(-100vw) rotate(0deg);
	transform:translateX(-100vw) rotate(0deg);
}
.contact-main > h4 span:first-child{
	color: #f00;
}
.contact-main > h4 span:nth-child(2){
	color: #3cf;
}
.contact-main > h4 span:nth-child(3){
	color: #6c0;
}.contact-main > h4 span:nth-child(4){
	 color: #f63;
 }
.contact-main p{
	text-align: center;
	line-height:.4rem;
	-webkit-transform: translateX(100vw);
	transform: translateX(100vw);
}
.contact-main p[class~="active-l"]{
	-webkit-animation:contact-pl .3s ease-in  1.3s forwards;
	animation:contact-pl .3s ease-in  1.3s forwards;
}
.contact-main p[class~="active-r"]{
	-webkit-animation:contact-pr .3s ease-in  1.3s forwards;
	animation:contact-pr .3s ease-in  1.3s forwards;
}
@-webkit-keyframes contact-h4 {
	from{
		-webkit-transform:translateX(-60vw) rotate(0deg);
		transform:translateX(-60vw) rotate(0deg);
	}
	to{
		-webkit-transform:translateX(0) rotate(360deg);
		transform:translateX(0) rotate(360deg);
	}
}
@keyframes contact-h4 {
	from{
		-webkit-transform:translateX(-60vw) rotate(0deg);
		transform:translateX(-60vw) rotate(0deg);
	}
	to{
		-webkit-transform:translateX(0) rotate(360deg);
		transform:translateX(0) rotate(360deg);
	}
}
@-webkit-keyframes contact-pl {
	from{
		-webkit-transform:translateX(-60vw);
		transform:translateX(-60vw);
	}
	to{
		-webkit-transform:translateX(0);
		transform:translateX(0)
	}
}
@keyframes contact-pl {
	from{
		-webkit-transform:translateX(-60vw);
		transform:translateX(-60vw);
	}
	to{
		-webkit-transform:translateX(0);
		transform:translateX(0)
	}
}
@-webkit-keyframes contact-pr {
	from{
		-webkit-transform:translateX(60vw);
		transform:translateX(60vw);
	}
	to{
		-webkit-transform:translateX(0);
		transform:translateX(0)
	}
}
@keyframes contact-pr {
	from{
		-webkit-transform:translateX(60vw);
		transform:translateX(60vw);
	}
	to{
		-webkit-transform:translateX(0);
		transform:translateX(0)
	}
}